# SPDX-FileCopyrightText: 2021 2021 GTT Project contributors <foss@georepublic.info>
#
# SPDX-License-Identifier: CC0-1.0

# editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
