[submodule "plugins/redmine_text_blocks"]
	path = plugins/redmine_text_blocks
	url = https://github.com/gtt-project/redmine_text_blocks.git
[submodule "plugins/redmine_gtt"]
	path = plugins/redmine_gtt
	url = https://github.com/gtt-project/redmine_gtt.git
[submodule "plugins/redmine_gtt_smash"]
	path = plugins/redmine_gtt_smash
	url = https://github.com/gtt-project/redmine_gtt_smash.git
[submodule "public/themes/hyakumori_blueclair"]
	path = public/themes/hyakumori_blueclair
	url = https://github.com/hyakumori/redmine_theme_farend_bleuclair.git
	branch = hyakumori
[submodule "plugins/redmine_gtt_print"]
	path = plugins/redmine_gtt_print
	url = https://github.com/gtt-project/redmine_gtt_print.git
[submodule "plugins/redmica_s3"]
	path = plugins/redmica_s3
	url = https://github.com/gtt-project/redmica_s3.git
[submodule "docker-backup"]
	path = docker-backup
	url = git@github.com:hyakumori/docker-backup.git
